![](http://people.math.sc.edu/etpalmer/Images/pandas_logo.png)

# pandas

## Tutoriales

[10 Minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)  
[R to Python: Data wrangling with dplyr and pandas](https://gist.github.com/conormm/fd8b1980c28dd21cfaf6975c86c74d07)  
[Comparison with R / R libraries](https://pandas.pydata.org/pandas-docs/stable/comparison_with_r.html)  
[plyr and pandas](https://tomaugspurger.github.io/dplry-pandas.html)  
[dplyr summarize equivalent in pandas](https://stackoverflow.com/questions/38935541/dplyr-summarize-equivalent-in-pandas)  
[Piping in R and in Pandas](http://fastml.com/piping-in-r-and-in-pandas/)  
[R vs Python - a One-on-One Comparion](https://shiring.github.io/r_vs_python/2017/01/22/R_vs_Py_post)  

### Cheatsheet

[Panda Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)  
[Cheat Sheet: The pandas DataFrame Object](http://www.webpages.uidaho.edu/~stevel/504/Pandas%20DataFrame%20Notes.pdf)  
[Pandas, SciPy & NumPy Cheat Sheet](https://s3.amazonaws.com/quandl-static-content/Documents/Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf)

### Connector/Python Coding Examples

[MySQL](https://dev.mysql.com/doc/connector-python/en/connector-python-examples.html)

[Connector/Python Coding Examples](https://dev.mysql.com/doc/connector-python/en/connector-python-examples.html)

Table of Contents     

1. [Connecting to MySQL Using Connector/Python](https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html)
2. [Creating Tables Using Connector/Python](https://dev.mysql.com/doc/connector-python/en/connector-python-example-ddl.html)
3. [Inserting Data Using Connector/Python](https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html)
4. [Querying Data Using Connector/Python](https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-select.html)


### Other examples

[Python DataBase Access](https://www.tutorialspoint.com/python/python_database_access.htm)

[From MySQL to pandas](https://stackoverflow.com/questions/37730243/importing-data-from-a-mysql-database-into-a-pandas-data-frame-including-column-n)

# Data Wrangling with pandas

## SYNTAX | Creating dataFrames

In [1]:
import pandas as pd

In [3]:
pd.set_option?
pd.set_option("display.max_rows", 5)

In [4]:
df = pd.DataFrame(
        {'a' : [4, 5, 6],
         'b' : [7, 8, 9],
         'c' : [10, 11, 12]},
        index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [6]:
df = pd.DataFrame(
    [[4, 7, 10],
    [5, 8, 11], 
    [6, 9, 12]],
    index = [1, 2, 3],
    columns = ['Column A', 'Column B', 'Column C'])
df

   Column A  Column B  Column C
1         4         7        10
2         5         8        11
3         6         9        12

In [5]:
pd.MultiIndex.from_tuples?

In [6]:
df = pd.DataFrame({
    'a' : [4, 5, 6],
    'b' : [7, 8, 9],
    'c' : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(tuples = [('d', 1), 
                                                ('d', 2), 
                                                ('e', 2)], 
                                      names = ['n', 'v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [7]:
df = pd.DataFrame({
    'a' : [4, 5, 6, 7],
    'b' : [7, 8, 9, 4],
    'c' : [10, 11, 12, 15]},
    index = pd.MultiIndex.from_tuples(tuples = [(1, u'red'), 
                                                (1, u'blue'), 
                                                (2, u'red'),
                                                (2, u'blue')], 
                                      names = ['number', 'color']))
df

              a  b   c
number color
1      red    4  7  10
       blue   5  8  11
2      red    6  9  12
       blue   7  4  15

In [8]:
pd.melt(df)
pd.melt(df, )

   variable  value
0         a      4
1         a      5
..      ...    ...
10        c     12
11        c     15

[12 rows x 2 columns]

In [74]:
pd.melt?

In [75]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6},
                   'D': {0: 1, 1: 1, 2: 1}})
print("\n\ndf")
print("----------------------------------------------------------------------------------------------")
print(df)
print("\n\npd.melt(frame = df)")
print("----------------------------------------------------------------------------------------------")
print(pd.melt(frame = df))
print("\n\npd.melt(frame = df, id_vars = ['A'], value_vars = ['B'], value_name = 'Mis valores')")
print("----------------------------------------------------------------------------------------------")
print(pd.melt(frame = df, id_vars = ['A'], value_vars = ['B'], value_name = 'Mis valores'))
print("\n\npd.melt(frame = df, id_vars = ['A', 'C'], value_vars = ['B'], value_name = 'Mis valores')")
print("----------------------------------------------------------------------------------------------")
print(pd.melt(frame = df, id_vars = ['A', 'C'], value_vars = ['B'], value_name = 'Mis valores'))
print("\n\npd.melt(frame = df, id_vars = ['A', 'D'], value_vars = ['B', 'C'], value_name = 'Mis valores')")
print("----------------------------------------------------------------------------------------------")
print(pd.melt(frame = df, id_vars = ['A', 'D'], value_vars = ['B', 'C'], value_name = 'Mis valores'))
print("----------------------------------------------------------------------------------------------")
print(pd.melt(frame = df, id_vars = ['A', 'D'], value_vars = ['B', 'C'], 
              var_name = 'Mis Variables', value_name = 'Mis Valores'))

df
----------------------------------------------------------------------------------------------
   A  B  C  D
0  a  1  2  1
1  b  3  4  1
2  c  5  6  1


pd.melt(frame = df)
----------------------------------------------------------------------------------------------
   variable value
0         A     a
1         A     b
2         A     c
3         B     1
4         B     3
5         B     5
6         C     2
7         C     4
8         C     6
9         D     1
10        D     1
11        D     1


pd.melt(frame = df, id_vars = ['A'], value_vars = ['B'], value_name = 'Mis valores')
----------------------------------------------------------------------------------------------
   A variable  Mis valores
0  a        B            1
1  b        B            3
2  c        B            5


pd.melt(frame = df, id_vars = ['A', 'C'], value_vars = ['B'], value_name = 'Mis valores')
----------------------------------------------------------------------------------------------
   A  C variable  Mis valores
0  a  2        B            1
1  b  4        B            3
2  c  6        B            5


pd.melt(frame = df, id_vars = ['A', 'D'], value_vars = ['B', 'C'], value_name = 'Mis valores')
----------------------------------------------------------------------------------------------
   A  D variable  Mis valores
0  a  1        B            1
1  b  1        B            3
2  c  1        B            5
3  a  1        C            2
4  b  1        C            4
5  c  1        C            6
----------------------------------------------------------------------------------------------
   A  D Mis Variables  Mis Valores
0  a  1             B            1
1  b  1             B            3
2  c  1             B            5
3  a  1             C            2
4  b  1             C            4
5  c  1             C            6

In [114]:
from numpy.random import randn
dfq = pd.DataFrame(randn(10, 4), columns = list('abcd'))
dfq['pro'] = dfq['a']*dfq['b']*dfq['c']*dfq['d']
dfq['sum'] = dfq['a']+dfq['b']+dfq['c']+dfq['d']
dfq.query('a*b*c*d > a+b+c+d')

          a         b         c         d       pro       sum
1 -0.086812 -1.989753  1.026990 -0.066493 -0.011796 -1.116068
6 -0.172942  1.532346 -1.837144  0.783859  0.381627  0.306119
7  0.257880 -0.615017  0.644742 -0.483210  0.049411 -0.195604
8 -0.861503 -1.010925  1.694660  2.136743  3.153631  1.958975
9 -0.689207 -0.036449  0.616286 -0.951677 -0.014734 -1.061047

In [120]:
dfq['sumabs'] = dfq['sum'].apply(abs)
dfq

          a         b         c         d       pro       sum    sumabs
0  2.396660  0.597648  0.088325  1.337433  0.169202  4.420066  4.420066
1 -0.086812 -1.989753  1.026990 -0.066493 -0.011796 -1.116068  1.116068
2 -0.226325  0.200545  0.280583  0.975551 -0.012424  1.230355  1.230355
3  0.945467  0.535355  0.275530  0.374737  0.052262  2.131090  2.131090
4  0.157279  0.407588  0.329958  1.555934  0.032911  2.450760  2.450760
5  0.336673  0.968698  0.667938  0.519206  0.113103  2.492515  2.492515
6 -0.172942  1.532346 -1.837144  0.783859  0.381627  0.306119  0.306119
7  0.257880 -0.615017  0.644742 -0.483210  0.049411 -0.195604  0.195604
8 -0.861503 -1.010925  1.694660  2.136743  3.153631  1.958975  1.958975
9 -0.689207 -0.036449  0.616286 -0.951677 -0.014734 -1.061047  1.061047

In [132]:
def mifuncion(dt, a, b):
    return dt[a] + dt[b]

dfq.apply(mifuncion, a = 'a', b = 'b', axis = 1)

0    2.994308
1   -2.076565
2   -0.025780
3    1.480823
4    0.564868
5    1.305371
6    1.359404
7   -0.357136
8   -1.872428
9   -0.725656
dtype: float64

In [115]:
from sklearn.datasets import load_iris

data = load_iris(return_X_y = True)

In [116]:
data = pd.concat([pd.DataFrame(data[0], 
                               columns =['a', 'b', 'c', 'd']), 
                  pd.DataFrame(data[1], 
                               columns =['Species'])], 
          axis = 1)

In [117]:
data.iloc[0:10]

     a    b    c    d  Species
0  5.1  3.5  1.4  0.2        0
1  4.9  3.0  1.4  0.2        0
2  4.7  3.2  1.3  0.2        0
3  4.6  3.1  1.5  0.2        0
4  5.0  3.6  1.4  0.2        0
5  5.4  3.9  1.7  0.4        0
6  4.6  3.4  1.4  0.3        0
7  5.0  3.4  1.5  0.2        0
8  4.4  2.9  1.4  0.2        0
9  4.9  3.1  1.5  0.1        0

In [118]:
# Ambas opciones son igualemente válidas, la única diferencia es que la primera opción nos 
# dejaría reemplazar variables con nombres con espaciones en blanco, por ejemplo 'mis especies de flores'

#data['Species'].replace({0: 'Iris Setosa', 
#                             1: 'Iris Virginica', 
#                             2: 'Iris Versicolor'}, inplace = True)

data.replace(dict(Species = {0: 'Iris Setosa', 
                             1: 'Iris Virginica', 
                             2: 'Iris Versicolor'}), 
             inplace = True) # Se guarda en el propio dataframe
data.iloc[0:10]

     a    b    c    d      Species
0  5.1  3.5  1.4  0.2  Iris Setosa
1  4.9  3.0  1.4  0.2  Iris Setosa
2  4.7  3.2  1.3  0.2  Iris Setosa
3  4.6  3.1  1.5  0.2  Iris Setosa
4  5.0  3.6  1.4  0.2  Iris Setosa
5  5.4  3.9  1.7  0.4  Iris Setosa
6  4.6  3.4  1.4  0.3  Iris Setosa
7  5.0  3.4  1.5  0.2  Iris Setosa
8  4.4  2.9  1.4  0.2  Iris Setosa
9  4.9  3.1  1.5  0.1  Iris Setosa

In [32]:
data.sort_values('a', ascending = False).iloc[0:10]

       a    b    c    d          Species
131  7.9  3.8  6.4  2.0  Iris Versicolor
135  7.7  3.0  6.1  2.3  Iris Versicolor
122  7.7  2.8  6.7  2.0  Iris Versicolor
117  7.7  3.8  6.7  2.2  Iris Versicolor
118  7.7  2.6  6.9  2.3  Iris Versicolor
105  7.6  3.0  6.6  2.1  Iris Versicolor
130  7.4  2.8  6.1  1.9  Iris Versicolor
107  7.3  2.9  6.3  1.8  Iris Versicolor
125  7.2  3.2  6.0  1.8  Iris Versicolor
109  7.2  3.6  6.1  2.5  Iris Versicolor

In [69]:
data.sort_values(['a', 'b'], ascending = False).iloc[0:10]

       a    b    c    d          Species
131  7.9  3.8  6.4  2.0  Iris Versicolor
117  7.7  3.8  6.7  2.2  Iris Versicolor
135  7.7  3.0  6.1  2.3  Iris Versicolor
122  7.7  2.8  6.7  2.0  Iris Versicolor
118  7.7  2.6  6.9  2.3  Iris Versicolor
105  7.6  3.0  6.6  2.1  Iris Versicolor
130  7.4  2.8  6.1  1.9  Iris Versicolor
107  7.3  2.9  6.3  1.8  Iris Versicolor
109  7.2  3.6  6.1  2.5  Iris Versicolor
125  7.2  3.2  6.0  1.8  Iris Versicolor

In [70]:
data.rename(columns = {'a' : 'SLength', 
                       'b' : 'SWidth', 
                       'c' : 'PLength', 
                       'd' : 'PWidth'}, inplace = True)

In [71]:
data.iloc[0:10]

   SLength  SWidth  PLength  PWidth      Species
0      5.1     3.5      1.4     0.2  Iris Setosa
1      4.9     3.0      1.4     0.2  Iris Setosa
2      4.7     3.2      1.3     0.2  Iris Setosa
3      4.6     3.1      1.5     0.2  Iris Setosa
4      5.0     3.6      1.4     0.2  Iris Setosa
5      5.4     3.9      1.7     0.4  Iris Setosa
6      4.6     3.4      1.4     0.3  Iris Setosa
7      5.0     3.4      1.5     0.2  Iris Setosa
8      4.4     2.9      1.4     0.2  Iris Setosa
9      4.9     3.1      1.5     0.1  Iris Setosa

In [72]:
data.loc[0:10, 'SLength':'PWidth']

    SLength  SWidth  PLength  PWidth
0       5.1     3.5      1.4     0.2
1       4.9     3.0      1.4     0.2
2       4.7     3.2      1.3     0.2
3       4.6     3.1      1.5     0.2
4       5.0     3.6      1.4     0.2
5       5.4     3.9      1.7     0.4
6       4.6     3.4      1.4     0.3
7       5.0     3.4      1.5     0.2
8       4.4     2.9      1.4     0.2
9       4.9     3.1      1.5     0.1
10      5.4     3.7      1.5     0.2

In [35]:
data.loc[data['SLength'] > 7, 'SLength':'PLength']

     SLength  SWidth  PLength
102      7.1     3.0      5.9
105      7.6     3.0      6.6
107      7.3     2.9      6.3
109      7.2     3.6      6.1
117      7.7     3.8      6.7
118      7.7     2.6      6.9
122      7.7     2.8      6.7
125      7.2     3.2      6.0
129      7.2     3.0      5.8
130      7.4     2.8      6.1
131      7.9     3.8      6.4
135      7.7     3.0      6.1

In [36]:
data.loc[data['SLength'] > 7, ['SLength', 'PLength']]

     SLength  PLength
102      7.1      5.9
105      7.6      6.6
107      7.3      6.3
109      7.2      6.1
117      7.7      6.7
118      7.7      6.9
122      7.7      6.7
125      7.2      6.0
129      7.2      5.8
130      7.4      6.1
131      7.9      6.4
135      7.7      6.1

In [37]:
data.head(3)

   SLength  SWidth  PLength  PWidth      Species
0      5.1     3.5      1.4     0.2  Iris Setosa
1      4.9     3.0      1.4     0.2  Iris Setosa
2      4.7     3.2      1.3     0.2  Iris Setosa

In [38]:
data.tail(3)

     SLength  SWidth  PLength  PWidth          Species
147      6.5     3.0      5.2     2.0  Iris Versicolor
148      6.2     3.4      5.4     2.3  Iris Versicolor
149      5.9     3.0      5.1     1.8  Iris Versicolor

In [39]:
data.sample(n = 5)

     SLength  SWidth  PLength  PWidth          Species
124      6.7     3.3      5.7     2.1  Iris Versicolor
44       5.1     3.8      1.9     0.4      Iris Setosa
50       7.0     3.2      4.7     1.4   Iris Virginica
101      5.8     2.7      5.1     1.9  Iris Versicolor
113      5.7     2.5      5.0     2.0  Iris Versicolor

In [41]:
data.loc[data['Species'] == 'Iris Setosa', 'Prueba'] = 100 * data['SLength']
data.loc[data['Species'] == 'Iris Versicolor', 'Prueba'] = 10 / data['SLength']
data.loc[data['Species'] == 'Iris Virginica', 'Prueba'] = data['SLength'] * data['SLength']
data.loc[1:10,]

    SLength  SWidth  PLength  PWidth      Species  Prueba
1       4.9     3.0      1.4     0.2  Iris Setosa   490.0
2       4.7     3.2      1.3     0.2  Iris Setosa   470.0
3       4.6     3.1      1.5     0.2  Iris Setosa   460.0
4       5.0     3.6      1.4     0.2  Iris Setosa   500.0
5       5.4     3.9      1.7     0.4  Iris Setosa   540.0
6       4.6     3.4      1.4     0.3  Iris Setosa   460.0
7       5.0     3.4      1.5     0.2  Iris Setosa   500.0
8       4.4     2.9      1.4     0.2  Iris Setosa   440.0
9       4.9     3.1      1.5     0.1  Iris Setosa   490.0
10      5.4     3.7      1.5     0.2  Iris Setosa   540.0

In [42]:
import numpy as np
data.loc[:, 'SLength':'PLength'] = np.log(data.loc[:, 'SLength':'PLength'])
data.loc[1:10, ]

     SLength    SWidth   PLength  PWidth      Species  Prueba
1   1.589235  1.098612  0.336472     0.2  Iris Setosa   490.0
2   1.547563  1.163151  0.262364     0.2  Iris Setosa   470.0
3   1.526056  1.131402  0.405465     0.2  Iris Setosa   460.0
4   1.609438  1.280934  0.336472     0.2  Iris Setosa   500.0
5   1.686399  1.360977  0.530628     0.4  Iris Setosa   540.0
6   1.526056  1.223775  0.336472     0.3  Iris Setosa   460.0
7   1.609438  1.223775  0.405465     0.2  Iris Setosa   500.0
8   1.481605  1.064711  0.336472     0.2  Iris Setosa   440.0
9   1.589235  1.131402  0.405465     0.1  Iris Setosa   490.0
10  1.686399  1.308333  0.405465     0.2  Iris Setosa   540.0

## SYNTAX | Summarize Data

In [43]:
data['Species'].value_counts()

Iris Setosa        50
Iris Virginica     50
Iris Versicolor    50
Name: Species, dtype: int64

In [44]:
len(data)

150

In [45]:
data['Species'].nunique()

3

In [46]:
data.describe()

          SLength      SWidth     PLength      PWidth      Prueba
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     1.755393    1.106442    1.175498    1.198667  179.209738
std      0.141189    0.142341    0.589493    0.763161  229.362445
min      1.458615    0.693147    0.000000    0.100000    1.265823
25%      1.629241    1.029619    0.470004    0.300000    1.612903
50%      1.757858    1.098612    1.470110    1.300000   34.810000
75%      1.856298    1.193922    1.629241    1.800000  480.000000
max      2.066863    1.481605    1.931521    2.500000  580.000000

In [47]:
data.sum()

SLength                                              263.309
SWidth                                               165.966
PLength                                              176.325
PWidth                                                 179.8
Species    Iris SetosaIris SetosaIris SetosaIris SetosaIr...
Prueba                                               26881.5
dtype: object

In [48]:
data.groupby('Species').mean()

                  SLength    SWidth   PLength  PWidth      Prueba
Species
Iris Setosa      1.608205  1.222865  0.374139   0.244  500.600000
Iris Versicolor  1.880654  1.084180  1.709426   2.026    1.532013
Iris Virginica   1.777319  1.012282  1.442930   1.326   35.497200

In [49]:
data.groupby('Species').std()

                  SLength    SWidth   PLength    PWidth     Prueba
Species
Iris Setosa      0.070497  0.113173  0.120810  0.107210  35.248969
Iris Versicolor  0.097128  0.108157  0.097783  0.274650   0.150671
Iris Virginica   0.087209  0.117134  0.115648  0.197753   6.162791

In [50]:
data.columns

Index(['SLength', 'SWidth', 'PLength', 'PWidth', 'Species', 'Prueba'], dtype='object')

In [51]:
data.index

RangeIndex(start=0, stop=150, step=1)

In [52]:
data.values

array([[1.62924053973028, 1.252762968495368, 0.3364722366212129, 0.2,
        'Iris Setosa', 509.99999999999994],
       [1.589235205116581, 1.0986122886681098, 0.3364722366212129, 0.2,
        'Iris Setosa', 490.00000000000006],
       [1.547562508716013, 1.1631508098056809, 0.26236426446749106, 0.2,
        'Iris Setosa', 470.0],
       [1.5260563034950492, 1.1314021114911006, 0.4054651081081644, 0.2,
        'Iris Setosa', 459.99999999999994],
       [1.6094379124341003, 1.2809338454620642, 0.3364722366212129, 0.2,
        'Iris Setosa', 500.0],
       [1.6863989535702288, 1.3609765531356006, 0.5306282510621704, 0.4,
        'Iris Setosa', 540.0],
       [1.5260563034950492, 1.2237754316221157, 0.3364722366212129, 0.3,
        'Iris Setosa', 459.99999999999994],
       [1.6094379124341003, 1.2237754316221157, 0.4054651081081644, 0.2,
        'Iris Setosa', 500.0],
       [1.4816045409242156, 1.0647107369924282, 0.3364722366212129, 0.2,
        'Iris Setosa', 440.00000000000006],
       [1.589235205116581, 1.1314021114911006, 0.4054651081081644, 0.1,
        'Iris Setosa', 490.00000000000006],
       [1.6863989535702288, 1.308332819650179, 0.4054651081081644, 0.2,
        'Iris Setosa', 540.0],
       [1.5686159179138452, 1.2237754316221157, 0.47000362924573563, 0.2,
        'Iris Setosa', 480.0],
       [1.5686159179138452, 1.0986122886681098, 0.3364722366212129, 0.1,
        'Iris Setosa', 480.0],
       [1.4586150226995167, 1.0986122886681098, 0.09531017980432493, 0.1,
        'Iris Setosa', 430.0],
       [1.7578579175523736, 1.3862943611198906, 0.1823215567939546, 0.2,
        'Iris Setosa', 580.0],
       [1.7404661748405046, 1.4816045409242156, 0.4054651081081644, 0.4,
        'Iris Setosa', 570.0],
       [1.6863989535702288, 1.3609765531356006, 0.26236426446749106, 0.4,
        'Iris Setosa', 540.0],
       [1.62924053973028, 1.252762968495368, 0.3364722366212129, 0.3,
        'Iris Setosa', 509.99999999999994],
       [1.7404661748405046, 1.33500106673234, 0.5306282510621704, 0.3,
        'Iris Setosa', 570.0],
       [1.62924053973028, 1.33500106673234, 0.4054651081081644, 0.3,
        'Iris Setosa', 509.99999999999994],
       [1.6863989535702288, 1.2237754316221157, 0.5306282510621704, 0.2,
        'Iris Setosa', 540.0],
       [1.62924053973028, 1.308332819650179, 0.4054651081081644, 0.4,
        'Iris Setosa', 509.99999999999994],
       [1.5260563034950492, 1.2809338454620642, 0.0, 0.2, 'Iris Setosa',
        459.99999999999994],
       [1.62924053973028, 1.1939224684724346, 0.5306282510621704, 0.5,
        'Iris Setosa', 509.99999999999994],
       [1.5686159179138452, 1.2237754316221157, 0.6418538861723947, 0.2,
        'Iris Setosa', 480.0],
       [1.6094379124341003, 1.0986122886681098, 0.47000362924573563, 0.2,
        'Iris Setosa', 500.0],
       [1.6094379124341003, 1.2237754316221157, 0.47000362924573563, 0.4,
        'Iris Setosa', 500.0],
       [1.6486586255873816, 1.252762968495368, 0.4054651081081644, 0.2,
        'Iris Setosa', 520.0],
       [1.6486586255873816, 1.2237754316221157, 0.3364722366212129, 0.2,
        'Iris Setosa', 520.0],
       [1.547562508716013, 1.1631508098056809, 0.47000362924573563, 0.2,
        'Iris Setosa', 470.0],
       [1.5686159179138452, 1.1314021114911006, 0.47000362924573563, 0.2,
        'Iris Setosa', 480.0],
       [1.6863989535702288, 1.2237754316221157, 0.4054651081081644, 0.4,
        'Iris Setosa', 540.0],
       [1.6486586255873816, 1.410986973710262, 0.4054651081081644, 0.1,
        'Iris Setosa', 520.0],
       [1.7047480922384253, 1.4350845252893227, 0.3364722366212129, 0.2,
        'Iris Setosa', 550.0],
       [1.589235205116581, 1.1314021114911006, 0.4054651081081644, 0.1,
        'Iris Setosa', 490.00000000000006],
       [1.6094379124341003, 1.1631508098056809, 0.1823215567939546, 0.2,
        'Iris Setosa', 500.0],
       [1.7047480922384253, 1.252762968495368, 0.26236426446749106, 0.2,
        'Iris Setosa', 550.0],
       [1.589235205116581, 1.1314021114911006, 0.4054651081081644, 0.1,
        'Iris Setosa', 490.00000000000006],
       [1.4816045409242156, 1.0986122886681098, 0.26236426446749106, 0.2,
        'Iris Setosa', 440.00000000000006],
       [1.62924053973028, 1.2237754316221157, 0.4054651081081644, 0.2,
        'Iris Setosa', 509.99999999999994],
       [1.6094379124341003, 1.252762968495368, 0.26236426446749106, 0.3,
        'Iris Setosa', 500.0],
       [1.5040773967762742, 0.8329091229351039, 0.26236426446749106, 0.3,
        'Iris Setosa', 450.0],
       [1.4816045409242156, 1.1631508098056809, 0.26236426446749106, 0.2,
        'Iris Setosa', 440.00000000000006],
       [1.6094379124341003, 1.252762968495368, 0.47000362924573563, 0.6,
        'Iris Setosa', 500.0],
       [1.62924053973028, 1.33500106673234, 0.6418538861723947, 0.4,
        'Iris Setosa', 509.99999999999994],
       [1.5686159179138452, 1.0986122886681098, 0.3364722366212129, 0.3,
        'Iris Setosa', 480.0],
       [1.62924053973028, 1.33500106673234, 0.47000362924573563, 0.2,
        'Iris Setosa', 509.99999999999994],
       [1.5260563034950492, 1.1631508098056809, 0.3364722366212129, 0.2,
        'Iris Setosa', 459.99999999999994],
       [1.667706820558076, 1.308332819650179, 0.4054651081081644, 0.2,
        'Iris Setosa', 530.0],
       [1.6094379124341003, 1.1939224684724346, 0.3364722366212129, 0.2,
        'Iris Setosa', 500.0],
       [1.9459101490553132, 1.1631508098056809, 1.547562508716013, 1.4,
        'Iris Virginica', 49.0],
       [1.8562979903656263, 1.1631508098056809, 1.5040773967762742, 1.5,
        'Iris Virginica', 40.96000000000001],
       [1.9315214116032138, 1.1314021114911006, 1.589235205116581, 1.5,
        'Iris Virginica', 47.61000000000001],
       [1.7047480922384253, 0.8329091229351039, 1.3862943611198906, 1.3,
        'Iris Virginica', 30.25],
       [1.8718021769015913, 1.0296194171811581, 1.5260563034950492, 1.5,
        'Iris Virginica', 42.25],
       [1.7404661748405046, 1.0296194171811581, 1.5040773967762742, 1.3,
        'Iris Virginica', 32.49],
       [1.840549633397487, 1.1939224684724346, 1.547562508716013, 1.6,
        'Iris Virginica', 39.69],
       [1.589235205116581, 0.8754687373538999, 1.1939224684724346, 1.0,
        'Iris Virginica', 24.010000000000005],
       [1.8870696490323797, 1.0647107369924282, 1.5260563034950492, 1.3,
        'Iris Virginica', 43.559999999999995],
       [1.6486586255873816, 0.9932517730102834, 1.3609765531356006, 1.4,
        'Iris Virginica', 27.040000000000003],
       [1.6094379124341003, 0.6931471805599453, 1.252762968495368, 1.0,
        'Iris Virginica', 25.0],
       [1.7749523509116738, 1.0986122886681098, 1.4350845252893227, 1.5,
        'Iris Virginica', 34.81],
       [1.791759469228055, 0.7884573603642703, 1.3862943611198906, 1.0,
        'Iris Virginica', 36.0],
       [1.8082887711792655, 1.0647107369924282, 1.547562508716013, 1.4,
        'Iris Virginica', 37.209999999999994],
       [1.7227665977411035, 1.0647107369924282, 1.2809338454620642, 1.3,
        'Iris Virginica', 31.359999999999996],
       [1.9021075263969205, 1.1314021114911006, 1.4816045409242156, 1.4,
        'Iris Virginica', 44.89],
       [1.7227665977411035, 1.0986122886681098, 1.5040773967762742, 1.5,
        'Iris Virginica', 31.359999999999996],
       [1.7578579175523736, 0.9932517730102834, 1.410986973710262, 1.0,
        'Iris Virginica', 33.64],
       [1.824549292051046, 0.7884573603642703, 1.5040773967762742, 1.5,
        'Iris Virginica', 38.440000000000005],
       [1.7227665977411035, 0.9162907318741551, 1.3609765531356006, 1.1,
        'Iris Virginica', 31.359999999999996],
       [1.7749523509116738, 1.1631508098056809, 1.5686159179138452, 1.8,
        'Iris Virginica', 34.81],
       [1.8082887711792655, 1.0296194171811581, 1.3862943611198906, 1.3,
        'Iris Virginica', 37.209999999999994],
       [1.840549633397487, 0.9162907318741551, 1.589235205116581, 1.5,
        'Iris Virginica', 39.69],
       [1.8082887711792655, 1.0296194171811581, 1.547562508716013, 1.2,
        'Iris Virginica', 37.209999999999994],
       [1.8562979903656263, 1.0647107369924282, 1.4586150226995167, 1.3,
        'Iris Virginica', 40.96000000000001],
       [1.8870696490323797, 1.0986122886681098, 1.4816045409242156, 1.4,
        'Iris Virginica', 43.559999999999995],
       [1.916922612182061, 1.0296194171811581, 1.5686159179138452, 1.4,
        'Iris Virginica', 46.239999999999995],
       [1.9021075263969205, 1.0986122886681098, 1.6094379124341003, 1.7,
        'Iris Virginica', 44.89],
       [1.791759469228055, 1.0647107369924282, 1.5040773967762742, 1.5,
        'Iris Virginica', 36.0],
       [1.7404661748405046, 0.9555114450274363, 1.252762968495368, 1.0,
        'Iris Virginica', 32.49],
       [1.7047480922384253, 0.8754687373538999, 1.33500106673234, 1.1,
        'Iris Virginica', 30.25],
       [1.7047480922384253, 0.8754687373538999, 1.308332819650179, 1.0,
        'Iris Virginica', 30.25],
       [1.7578579175523736, 0.9932517730102834, 1.3609765531356006, 1.2,
        'Iris Virginica', 33.64],
       [1.791759469228055, 0.9932517730102834, 1.62924053973028, 1.6,
        'Iris Virginica', 36.0],
       [1.6863989535702288, 1.0986122886681098, 1.5040773967762742, 1.5,
        'Iris Virginica', 29.160000000000004],
       [1.791759469228055, 1.2237754316221157, 1.5040773967762742, 1.6,
        'Iris Virginica', 36.0],
       [1.9021075263969205, 1.1314021114911006, 1.547562508716013, 1.5,
        'Iris Virginica', 44.89],
       [1.840549633397487, 0.8329091229351039, 1.4816045409242156, 1.3,
        'Iris Virginica', 39.69],
       [1.7227665977411035, 1.0986122886681098, 1.410986973710262, 1.3,
        'Iris Virginica', 31.359999999999996],
       [1.7047480922384253, 0.9162907318741551, 1.3862943611198906, 1.3,
        'Iris Virginica', 30.25],
       [1.7047480922384253, 0.9555114450274363, 1.4816045409242156, 1.2,
        'Iris Virginica', 30.25],
       [1.8082887711792655, 1.0986122886681098, 1.5260563034950492, 1.4,
        'Iris Virginica', 37.209999999999994],
       [1.7578579175523736, 0.9555114450274363, 1.3862943611198906, 1.2,
        'Iris Virginica', 33.64],
       [1.6094379124341003, 0.8329091229351039, 1.1939224684724346, 1.0,
        'Iris Virginica', 25.0],
       [1.7227665977411035, 0.9932517730102834, 1.4350845252893227, 1.3,
        'Iris Virginica', 31.359999999999996],
       [1.7404661748405046, 1.0986122886681098, 1.4350845252893227, 1.2,
        'Iris Virginica', 32.49],
       [1.7404661748405046, 1.0647107369924282, 1.4350845252893227, 1.3,
        'Iris Virginica', 32.49],
       [1.824549292051046, 1.0647107369924282, 1.4586150226995167, 1.3,
        'Iris Virginica', 38.440000000000005],
       [1.62924053973028, 0.9162907318741551, 1.0986122886681098, 1.1,
        'Iris Virginica', 26.009999999999998],
       [1.7404661748405046, 1.0296194171811581, 1.410986973710262, 1.3,
        'Iris Virginica', 32.49],
       [1.840549633397487, 1.1939224684724346, 1.791759469228055, 2.5,
        'Iris Versicolor', 1.5873015873015874],
       [1.7578579175523736, 0.9932517730102834, 1.62924053973028, 1.9,
        'Iris Versicolor', 1.7241379310344829],
       [1.9600947840472698, 1.0986122886681098, 1.7749523509116738, 2.1,
        'Iris Versicolor', 1.4084507042253522],
       [1.840549633397487, 1.0647107369924282, 1.7227665977411035, 1.8,
        'Iris Versicolor', 1.5873015873015874],
       [1.8718021769015913, 1.0986122886681098, 1.7578579175523736, 2.2,
        'Iris Versicolor', 1.5384615384615385],
       [2.028148247292285, 1.0986122886681098, 1.8870696490323797, 2.1,
        'Iris Versicolor', 1.3157894736842106],
       [1.589235205116581, 0.9162907318741551, 1.5040773967762742, 1.7,
        'Iris Versicolor', 2.0408163265306123],
       [1.9878743481543455, 1.0647107369924282, 1.840549633397487, 1.8,
        'Iris Versicolor', 1.36986301369863],
       [1.9021075263969205, 0.9162907318741551, 1.7578579175523736, 1.8,
        'Iris Versicolor', 1.4925373134328357],
       [1.9740810260220096, 1.2809338454620642, 1.8082887711792655, 2.5,
        'Iris Versicolor', 1.3888888888888888],
       [1.8718021769015913, 1.1631508098056809, 1.62924053973028, 2.0,
        'Iris Versicolor', 1.5384615384615385],
       [1.8562979903656263, 0.9932517730102834, 1.667706820558076, 1.9,
        'Iris Versicolor', 1.5625],
       [1.916922612182061, 1.0986122886681098, 1.7047480922384253, 2.1,
        'Iris Versicolor', 1.4705882352941178],
       [1.7404661748405046, 0.9162907318741551, 1.6094379124341003, 2.0,
        'Iris Versicolor', 1.7543859649122806],
       [1.7578579175523736, 1.0296194171811581, 1.62924053973028, 2.4,
        'Iris Versicolor', 1.7241379310344829],
       [1.8562979903656263, 1.1631508098056809, 1.667706820558076, 2.3,
        'Iris Versicolor', 1.5625],
       [1.8718021769015913, 1.0986122886681098, 1.7047480922384253, 1.8,
        'Iris Versicolor', 1.5384615384615385],
       [2.0412203288596382, 1.33500106673234, 1.9021075263969205, 2.2,
        'Iris Versicolor', 1.2987012987012987],
       [2.0412203288596382, 0.9555114450274363, 1.9315214116032138, 2.3,
        'Iris Versicolor', 1.2987012987012987],
       [1.791759469228055, 0.7884573603642703, 1.6094379124341003, 1.5,
        'Iris Versicolor', 1.6666666666666667],
       [1.9315214116032138, 1.1631508098056809, 1.7404661748405046, 2.3,
        'Iris Versicolor', 1.4492753623188406],
       [1.7227665977411035, 1.0296194171811581, 1.589235205116581, 2.0,
        'Iris Versicolor', 1.7857142857142858],
       [2.0412203288596382, 1.0296194171811581, 1.9021075263969205, 2.0,
        'Iris Versicolor', 1.2987012987012987],
       [1.840549633397487, 0.9932517730102834, 1.589235205116581, 1.8,
        'Iris Versicolor', 1.5873015873015874],
       [1.9021075263969205, 1.1939224684724346, 1.7404661748405046, 2.1,
        'Iris Versicolor', 1.4925373134328357],
       [1.9740810260220096, 1.1631508098056809, 1.791759469228055, 1.8,
        'Iris Versicolor', 1.3888888888888888],
       [1.824549292051046, 1.0296194171811581, 1.5686159179138452, 1.8,
        'Iris Versicolor', 1.6129032258064515],
       [1.8082887711792655, 1.0986122886681098, 1.589235205116581, 1.8,
        'Iris Versicolor', 1.639344262295082],
       [1.8562979903656263, 1.0296194171811581, 1.7227665977411035, 2.1,
        'Iris Versicolor', 1.5625],
       [1.9740810260220096, 1.0986122886681098, 1.7578579175523736, 1.6,
        'Iris Versicolor', 1.3888888888888888],
       [2.0014800002101243, 1.0296194171811581, 1.8082887711792655, 1.9,
        'Iris Versicolor', 1.3513513513513513],
       [2.066862759472976, 1.33500106673234, 1.8562979903656263, 2.0,
        'Iris Versicolor', 1.2658227848101264],
       [1.8562979903656263, 1.0296194171811581, 1.7227665977411035, 2.2,
        'Iris Versicolor', 1.5625],
       [1.840549633397487, 1.0296194171811581, 1.62924053973028, 1.5,
        'Iris Versicolor', 1.5873015873015874],
       [1.8082887711792655, 0.9555114450274363, 1.7227665977411035, 1.4,
        'Iris Versicolor', 1.639344262295082],
       [2.0412203288596382, 1.0986122886681098, 1.8082887711792655, 2.3,
        'Iris Versicolor', 1.2987012987012987],
       [1.840549633397487, 1.2237754316221157, 1.7227665977411035, 2.4,
        'Iris Versicolor', 1.5873015873015874],
       [1.8562979903656263, 1.1314021114911006, 1.7047480922384253, 1.8,
        'Iris Versicolor', 1.5625],
       [1.791759469228055, 1.0986122886681098, 1.5686159179138452, 1.8,
        'Iris Versicolor', 1.6666666666666667],
       [1.9315214116032138, 1.1314021114911006, 1.6863989535702288, 2.1,
        'Iris Versicolor', 1.4492753623188406],
       [1.9021075263969205, 1.1314021114911006, 1.7227665977411035, 2.4,
        'Iris Versicolor', 1.4925373134328357],
       [1.9315214116032138, 1.1314021114911006, 1.62924053973028, 2.3,
        'Iris Versicolor', 1.4492753623188406],
       [1.7578579175523736, 0.9932517730102834, 1.62924053973028, 1.9,
        'Iris Versicolor', 1.7241379310344829],
       [1.916922612182061, 1.1631508098056809, 1.7749523509116738, 2.3,
        'Iris Versicolor', 1.4705882352941178],
       [1.9021075263969205, 1.1939224684724346, 1.7404661748405046, 2.5,
        'Iris Versicolor', 1.4925373134328357],
       [1.9021075263969205, 1.0986122886681098, 1.6486586255873816, 2.3,
        'Iris Versicolor', 1.4925373134328357],
       [1.840549633397487, 0.9162907318741551, 1.6094379124341003, 1.9,
        'Iris Versicolor', 1.5873015873015874],
       [1.8718021769015913, 1.0986122886681098, 1.6486586255873816, 2.0,
        'Iris Versicolor', 1.5384615384615385],
       [1.824549292051046, 1.2237754316221157, 1.6863989535702288, 2.3,
        'Iris Versicolor', 1.6129032258064515],
       [1.7749523509116738, 1.0986122886681098, 1.62924053973028, 1.8,
        'Iris Versicolor', 1.694915254237288]], dtype=object)

In [53]:
data.sort_index(axis = 1, ascending = False).iloc[0:6]

       Species    SWidth   SLength  Prueba  PWidth   PLength
0  Iris Setosa  1.252763  1.629241   510.0     0.2  0.336472
1  Iris Setosa  1.098612  1.589235   490.0     0.2  0.336472
2  Iris Setosa  1.163151  1.547563   470.0     0.2  0.262364
3  Iris Setosa  1.131402  1.526056   460.0     0.2  0.405465
4  Iris Setosa  1.280934  1.609438   500.0     0.2  0.336472
5  Iris Setosa  1.360977  1.686399   540.0     0.4  0.530628

In [54]:
data.sort_index(axis = 0, ascending = False).iloc[0:6]

      SLength    SWidth   PLength  PWidth          Species    Prueba
149  1.774952  1.098612  1.629241     1.8  Iris Versicolor  1.694915
148  1.824549  1.223775  1.686399     2.3  Iris Versicolor  1.612903
147  1.871802  1.098612  1.648659     2.0  Iris Versicolor  1.538462
146  1.840550  0.916291  1.609438     1.9  Iris Versicolor  1.587302
145  1.902108  1.098612  1.648659     2.3  Iris Versicolor  1.492537
144  1.902108  1.193922  1.740466     2.5  Iris Versicolor  1.492537

In [55]:
data[0:10]

    SLength    SWidth   PLength  PWidth      Species  Prueba
0  1.629241  1.252763  0.336472     0.2  Iris Setosa   510.0
1  1.589235  1.098612  0.336472     0.2  Iris Setosa   490.0
2  1.547563  1.163151  0.262364     0.2  Iris Setosa   470.0
3  1.526056  1.131402  0.405465     0.2  Iris Setosa   460.0
4  1.609438  1.280934  0.336472     0.2  Iris Setosa   500.0
5  1.686399  1.360977  0.530628     0.4  Iris Setosa   540.0
6  1.526056  1.223775  0.336472     0.3  Iris Setosa   460.0
7  1.609438  1.223775  0.405465     0.2  Iris Setosa   500.0
8  1.481605  1.064711  0.336472     0.2  Iris Setosa   440.0
9  1.589235  1.131402  0.405465     0.1  Iris Setosa   490.0

### Data Bases. Python y MySQL

In [1]:
from time import time #importamos la función time para capturar tiempos
import mysql.connector as sql

config = {
  'user': 'root',
  'password': '********',
  'host': '127.0.0.1',
  'database': 'database',
  'raise_on_warnings': True,
}

cnx = sql.connect(**config)

In [34]:
cursor = cnx.cursor()

query = "SELECT * FROM dataset3"

cursor.execute(query)

results = cursor.fetchall()

print(cursor.column_names)
print(cursor.description)
print(cursor.rowcount)

('asset', 'date', 'time', 'variable', 'value', 'day', 'hour', 'minute', 'unix_time')
[('asset', 252, None, None, None, None, 1, 16), ('date', 252, None, None, None, None, 1, 16), ('time', 252, None, None, None, None, 1, 16), ('variable', 252, None, None, None, None, 1, 16), ('value', 5, None, None, None, None, 1, 0), ('day', 3, None, None, None, None, 1, 0), ('hour', 3, None, None, None, None, 1, 0), ('minute', 3, None, None, None, None, 1, 0), ('unix_time', 8, None, None, None, None, 1, 0)]
621152

In [4]:
tiempo_inicial = time() 
df = pd.read_sql('SELECT * FROM dataset3', con = cnx)
tiempo_final = time() 
 
tiempo_ejecucion = tiempo_final - tiempo_inicial
print('El tiempo de ejecucion fue de:', tiempo_ejecucion, 'segundos') # En segundos

El tiempo de ejecucion fue: 136.1616563796997

In [36]:
df.head(10)

,asset,date,time,variable,value,day,hour,minute,unix_time
0,A001,2015-05-01,00:00:00,WCNVCosPhi,0.987495,1,0,9,1430431799
1,A001,2015-05-01,00:10:00,WCNVCosPhi,0.988017,1,0,19,1430432399
2,A001,2015-05-01,00:20:00,WCNVCosPhi,0.988010,1,0,29,1430432999
3,A001,2015-05-01,00:30:00,WCNVCosPhi,0.988437,1,0,39,1430433599
4,A001,2015-05-01,00:40:00,WCNVCosPhi,0.985260,1,0,49,1430434199
5,A001,2015-05-01,00:50:00,WCNVCosPhi,0.989713,1,0,59,1430434799
6,A001,2015-05-01,01:00:00,WCNVCosPhi,0.992758,1,1,9,1430435399
7,A001,2015-05-01,01:10:00,WCNVCosPhi,0.993795,1,1,19,1430435999
8,A001,2015-05-01,01:20:00,WCNVCosPhi,0.991575,1,1,29,1430436599
9,A001,2015-05-01,01:30:00,WCNVCosPhi,0.992075,1,1,39,1430437199

In [37]:
df.loc[0:3, 'day':'minute']

   day  hour  minute
0    1     0       9
1    1     0      19
2    1     0      29
3    1     0      39

In [38]:
df.loc[:, 'day':'minute'].head(2)

   day  hour  minute
0    1     0       9
1    1     0      19

In [39]:
df.filter(regex = '^d').head(5)

         date  day
0  2015-05-01    1
1  2015-05-01    1
2  2015-05-01    1
3  2015-05-01    1
4  2015-05-01    1

In [40]:
df.filter(regex = '\_').head(3)

    unix_time
0  1430431799
1  1430432399
2  1430432999

In [41]:
df.filter(regex = 't').head(3)

  asset        date      time  minute   unix_time
0  A001  2015-05-01  00:00:00       9  1430431799
1  A001  2015-05-01  00:10:00      19  1430432399
2  A001  2015-05-01  00:20:00      29  1430432999

In [42]:
df.\
    groupby(['asset', 'variable'])['value'].\
    agg(['mean', 'sum', 'count']).\
    rename(columns = {'mean': 'media', 'sum': 'suma', 'count': 'N'},
           inplace  = False)
# Ponemos inplace = False, porque después vamos a volver a cambiar 
# las columnas de nombre en un ejemplo más completo y fallaría.

                                media           suma     N
asset variable
A001  WCNVCosPhi             0.850022    3784.296435  4452
      WCNVNetVoltage        63.032261  280619.625277  4452
      WGDCTrafoPhase1Temp    0.554523    2468.736271  4452
      WGDCTrafoPhase2Temp    0.571026    2542.208981  4452
      WGDCTrafoPhase3Temp    0.554807    2470.002211  4452
      WGENBearDETemp         0.468696    2086.634600  4452
      WGENBearNDETemp        0.554558    2468.893285  4452
      WGENGenSpeed           0.751444    3345.428781  4452
      WGENPhase1Temp         0.602213    2681.050168  4452
      WGENPhase2Temp         0.611524    2722.505954  4452
      WGENPhase3Temp         0.612170    2725.382953  4452
      WHDRGroupOilPress      0.946771    4215.024795  4452
      WHDRGroupOilTemp       0.524058    2333.104803  4452
      WNACAmbTemp            0.394756    1757.452979  4452
      WNACDirection          0.394825    1757.761175  4452
      WNACNacelleTemp        0.597961    2662.123071  4452
      WNACWindDirection      0.008958      39.879288  4452
      WNACWindSpeed          0.193114     859.745160  4452
      WROTPitchAngleAvg      0.043453     193.454713  4452
      WROTPitchAngleSP       0.043013     191.495226  4452
      WROTSpeed              0.434041    1932.348687  4452
      WTRMBearTemp           0.769382    3425.289343  4452
      WTRMOilTemp            0.719680    3204.014433  4452
      WTURPower              0.336051    1496.097712  4452
      WTURPowerAux          -0.007421     -33.039880  4452
      WTURReactivePower      0.475247    2115.801755  4452
      WTURReactivePowerAux   0.496202    2209.091648  4452
      WYAWPressure           0.942148    4194.441401  4452
A002  WCNVCosPhi             0.857177    3824.722768  4462
      WCNVNetVoltage        63.152086  281784.607035  4462
...                               ...            ...   ...
A004  WTURReactivePowerAux   0.497158    2210.862275  4447
      WYAWPressure           0.941054    4184.866603  4447
A005  WCNVCosPhi             0.844108    3697.192678  4380
      WCNVNetVoltage        63.108454  276415.026879  4380
      WGDCTrafoPhase1Temp    0.619641    2714.029205  4380
      WGDCTrafoPhase2Temp    0.644222    2821.693067  4380
      WGDCTrafoPhase3Temp    0.630346    2760.915349  4380
      WGENBearDETemp         0.475221    2081.468100  4380
      WGENBearNDETemp        0.587193    2571.905493  4380
      WGENGenSpeed           0.731357    3203.345491  4380
      WGENPhase1Temp         0.593697    2600.391357  4380
      WGENPhase2Temp         0.584662    2560.817833  4380
      WGENPhase3Temp         0.591007    2588.609456  4380
      WHDRGroupOilPress      0.947448    4149.820146  4380
      WHDRGroupOilTemp       0.567550    2485.867740  4380
      WNACAmbTemp            0.314780    1378.736522  4380
      WNACDirection          0.400174    1752.761172  4380
      WNACNacelleTemp        0.647500    2836.051577  4380
      WNACWindDirection      0.027617     120.962621  4380
      WNACWindSpeed          0.181156     793.464104  4380
      WROTPitchAngleAvg      0.047794     209.335671  4380
      WROTPitchAngleSP       0.047233     206.882204  4380
      WROTSpeed              0.422473    1850.431431  4380
      WTRMBearTemp           0.756448    3313.241222  4380
      WTRMOilTemp            0.714274    3128.518157  4380
      WTURPower              0.299431    1311.505724  4380
      WTURPowerAux          -0.006605     -28.930507  4380
      WTURReactivePower      0.474574    2078.635112  4380
      WTURReactivePowerAux   0.496497    2174.656305  4380
      WYAWPressure           0.942100    4126.396960  4380

[140 rows x 3 columns]

In [75]:
df.\
    groupby(['asset', 'variable'])['value'].\
    agg(['mean', 'std', 'sum', 'count']).\
    rename(columns={'mean': 'media', 'std': 'sd', 'sum': 'suma', 'count': 'N'}).\
    loc[:, ['media', 'sd']].\
    reset_index().\
    assign(CV = lambda x: x.sd/x.media).\
    query('CV < 0.2').\
    head(50)

   asset              variable      media        sd        CV
1   A001        WCNVNetVoltage  63.032261  0.481289  0.007636
2   A001   WGDCTrafoPhase1Temp   0.554523  0.095948  0.173029
3   A001   WGDCTrafoPhase2Temp   0.571026  0.094965  0.166306
4   A001   WGDCTrafoPhase3Temp   0.554807  0.092991  0.167609
5   A001        WGENBearDETemp   0.468696  0.044464  0.094867
6   A001       WGENBearNDETemp   0.554558  0.056942  0.102680
8   A001        WGENPhase1Temp   0.602213  0.080696  0.133999
9   A001        WGENPhase2Temp   0.611524  0.082969  0.135676
10  A001        WGENPhase3Temp   0.612170  0.083394  0.136226
11  A001     WHDRGroupOilPress   0.946771  0.002397  0.002532
12  A001      WHDRGroupOilTemp   0.524058  0.077894  0.148636
21  A001          WTRMBearTemp   0.769382  0.038854  0.050501
22  A001           WTRMOilTemp   0.719680  0.024385  0.033883
24  A001          WTURPowerAux  -0.007421  0.002933 -0.395232
25  A001     WTURReactivePower   0.475247  0.011907  0.025053
26  A001  WTURReactivePowerAux   0.496202  0.001031  0.002079
27  A001          WYAWPressure   0.942148  0.095130  0.100972
29  A002        WCNVNetVoltage  63.152086  0.487334  0.007717
30  A002   WGDCTrafoPhase1Temp   0.579270  0.086831  0.149897
31  A002   WGDCTrafoPhase2Temp   0.576680  0.084000  0.145661
32  A002   WGDCTrafoPhase3Temp   0.569580  0.081463  0.143023
33  A002        WGENBearDETemp   0.472348  0.046239  0.097892
34  A002       WGENBearNDETemp   0.560149  0.075082  0.134040
36  A002        WGENPhase1Temp   0.586989  0.083809  0.142778
37  A002        WGENPhase2Temp   0.585299  0.085619  0.146282
38  A002        WGENPhase3Temp   0.583943  0.084854  0.145313
39  A002     WHDRGroupOilPress   0.946679  0.002024  0.002139
40  A002      WHDRGroupOilTemp   0.536915  0.081820  0.152388
49  A002          WTRMBearTemp   0.770096  0.041424  0.053790
50  A002           WTRMOilTemp   0.723590  0.025246  0.034890
52  A002          WTURPowerAux  -0.007150  0.002830 -0.395801
53  A002     WTURReactivePower   0.475351  0.011549  0.024296
54  A002  WTURReactivePowerAux   0.496627  0.000936  0.001885
55  A002          WYAWPressure   0.936768  0.088963  0.094967
57  A003        WCNVNetVoltage  63.135559  0.488165  0.007732
58  A003   WGDCTrafoPhase1Temp   0.598571  0.087675  0.146473
59  A003   WGDCTrafoPhase2Temp   0.589517  0.090758  0.153953
60  A003   WGDCTrafoPhase3Temp   0.577825  0.092996  0.160942
61  A003        WGENBearDETemp   0.472951  0.045297  0.095776
62  A003       WGENBearNDETemp   0.547404  0.055887  0.102095
64  A003        WGENPhase1Temp   0.588233  0.078005  0.132609
65  A003        WGENPhase2Temp   0.577330  0.078415  0.135823
66  A003        WGENPhase3Temp   0.584426  0.078551  0.134408
67  A003     WHDRGroupOilPress   0.946972  0.002024  0.002137
68  A003      WHDRGroupOilTemp   0.557708  0.066431  0.119115
77  A003          WTRMBearTemp   0.758077  0.036237  0.047801
78  A003           WTRMOilTemp   0.720160  0.023426  0.032529
80  A003          WTURPowerAux  -0.006496  0.002483 -0.382153
81  A003     WTURReactivePower   0.475838  0.011613  0.024405
82  A003  WTURReactivePowerAux   0.496784  0.000853  0.001717

In [44]:
df.info()
df.count()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621152 entries, 0 to 621151
Data columns (total 9 columns):
asset        621152 non-null object
date         621152 non-null object
time         621152 non-null object
variable     621152 non-null object
value        621152 non-null float64
day          621152 non-null int64
hour         621152 non-null int64
minute       621152 non-null int64
unix_time    621152 non-null int64
dtypes: float64(1), int64(4), object(4)
memory usage: 42.7+ MB

Index(['asset', 'date', 'time', 'variable', 'value', 'day', 'hour', 'minute',
       'unix_time'],
      dtype='object')